.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

body {
    background-color: #4d4d33;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


#header {
    display: none;
    background-image: url(images/Pallett%202%20cropped.jpg);
    background-repeat: no-repeat;
    object-fit: contain;
    flex-direction: column;
    flex-wrap: wrap;
    justify-self: center;
    width: 1000px;
    height: 500px;
    margin-top: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#heading {
    font-size: 100px ;
    font-weight: bold;
    margin-top: 150px;
    margin-left: 20px;
    color: black;
}

#sub-heading {
    font-size: 50px;
    color: black;
    margin-left: 20px;
}

#welcome-link-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#welcome-link {
    padding: 10px;
    transition: font-size 1s;
    margin: 20px;
    color: black;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    justify-self: center;
}

#welcome-link:hover {
    font-size: 55px;
    text-decoration: none;
}


#social-links {
    display: none;
    position: absolute;
    top: 100px;
    right: 550px;
}

#social-link {
    width: 35px;
    margin: 10px;
    transition: width 0.5s;
}

#mail-social-link {
    height: 35px;
    margin: 10px;
    transition: height 0.5s;
}

#social-link:hover {
    cursor: pointer;
}

#mail-social-link:hover {
    cursor: pointer;
}


#link-container {
    justify-content: center;
    flex-direction: row;
}

#content-container {
    display: none;
    padding: 20px;
    background-color: #99ffcc; 
    width: 85%;
}

#sara-pic {
    width: 50%;
    position: relative;
    float: right;
    padding: 20px;
}

#cernunnos-pic {
    position: relative;
    width: 70%;
    margin-top: 20px;
}

p {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
    text-align: justify;
    font-family: century gothic medium, sans-serif;
    color: #4d4d33;
}

#gallery-link-container {
    width: 92%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 60px;
}

#portfolio-link {
    display: flex;
    width: 400px;
    height: 400px;
    text-decoration: none;
    margin-bottom: 30px;
}


#portfolio-link-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#portfolio-link-txt {
    position: absolute;
    padding: 20px;
    color: #99ffcc;
    font-weight: bold;
    bottom: 10px;
}

#nav-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
    background-color: ;
    margin-bottom: 30px;
}

#nav-bar-socials {
    position: relative;
    align-self: center;
}

#nav-bar-links {
    font-weight: bolder;
    font-size: 30px;
    position: relative;
    align-self: center;
    color:  #99ffcc;

}

#nav-bar-links:hover {
    text-decoration: none;
}

#page-title {
    display: none;
    color:  #99ffcc;
    font-weight: bold;
    font-family: Segoe script, Rage, Script MT, Snell Roundhand, Lucida Handwriting, cursive;
    font-size: 60px;
    margin-top: 60px;
    align-self: center;
}

#nav-bar-links:hover {
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 40px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: auto;
}

.modal-content {
    width: 100%;
    height: 90%;
    position: absolute;
    background-color: black;
}

.close-cursor {
    color: white;
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close-cursor:hover,
.colse-cursor:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.slides {
    display: none;
    max-height: 100%;
    max-width: 90%;
    object-fit: contain;
    margin: auto;
    
}

.prev,
.next {
    position: absolute;
    cursor: pointer;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    margin-top: 20%;
}

.prev {
    left: 0;
    margin-top: 20%;
}
.prev:hover,
.next:hover {
    background-color: rgba(0,0,0,0.8);
}

#image-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 86.8%;
    margin-top: 80px;
}

#grid-img {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#grid-img:hover {
    cursor: pointer;
}

footer {
    background-color:  #99ffcc;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
}

#footer-socials {
    margin-top: 30px;
    position: relative;
    align-self: center;
}

#footer-fb-page-container {
    padding: 20px;
    align-self: center;
}

#pages-link {
    margin-bottom: 30px;
    position: relative;
    align-self: center;
}

#pages-link:hover {
    cursor: pointer;
}

@media (max-width: 800px){
    #header {
        max-width: 90%;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    #heading {
        width: 100%;
        margin-top: 15px;
    }
    
    #sub-heading {
        max-width: 90%;
    }
    
    #page-title {
        text-align: center;
    }
    
    #content-container {
        width: 90%;
    }
    
    #grid-img {
        margin-bottom: 20px;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    #cernunnos-pic {
        width: 100%;
    }
    
    #welcome-link:hover {
        font-size: 55px;
    }
    
    #social-links {
        margin-top: 50px;
        position: absolute;
    }
    
    #portfolio-link {
        margin-top: 20px;
        align-content: center;
        width: 90%;
        height: 400px;
    }
    
    #portfolio-link-img:hover {
        width: 100%;
    }
    
    #link-txt {
        max-width: 70%;
        position: absolute;
        bottom: 5%;
        left: 10%;
    }

    #link-img {
        width: 100%;
    }
    
    .modal-content {
        width: 100%;
    }
    
    #sara-pic {
        width: 90%;
        
    }
    
    #gallery-link-container {
        width: 100%;
    }
    
    .slides {
        max-width: 90%;
        max-height: 90%;
        object-fit: contain;
    }
    
    .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    margin-top: 60%;
    }

    .prev {
    left: 0;
    margin-top: 60%;
    }
    
    .prev:hover,
    .next:hover {
    background-color: rgba(0,0,0,0.8);
    }
    
    #home-nav-link {
        width: 25%;
        margin: 5px;
        padding-left: 26.5%;
        padding-right: 26.5%;
    }
    
    #portfolio-nav-link {
        width: 70%;
        margin: 5px;
        padding: 4%;
    }
    
    #home-nav-link:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 30%;
    }

    #portfolio-nav-link:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 75%;
    }
}
